@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #26a0a6;
  --color-secondary: #6b7280;
  --color-white: #fafafa;
  --color-black: #09090b;
  --color-black-secondary: #161616;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-white);
  background-color: var(--color-black);
}

::selection {
  color: var(--color-black);
  background: var(--color-primary);
}
